[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/smart-swimmingpool/smart-swimmingpool.github.io.git
	branch = master
