# IDEs
.idea/

# Hugo
resources/
public/
.hugo_build.lock

# imported modules
content/docs/openhab-configuration/
content/docs/pool-controller/
content/docs/grafana-dashboard/
content/docs/pool-monitor/

# grabrepos.py working directory
temp/
